/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/07/2016, 9:52:45 PM
    Author     : Aloe2020
*/
.dragnode {
    -fx-background-radius: 10; 
}

.node-overlay {
	-fx-background-radius: 10 10 0 0;
	-fx-background-color:
	linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);
	
}
    
.right-link-handle:hover {
	-fx-background-radius: 0 0 10 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.top-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.bot-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}
.node-blue {
    -fx-background-color: blue;
}

.node-red {
    -fx-background-color: red;
}

.node-green {
    -fx-background-color: green;
}

.node-black {
    -fx-background-color: black;
}

.node-grey {
    -fx-background-color: grey;
}

.node-yellow {
    -fx-background-color: yellow;
}

.node-purple {
    -fx-background-color: purple;
}
