/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/07/2016, 9:52:45 PM
    Author     : Aloe2020
*/
.dragnode {
    -fx-background-radius: 10; 
}

.node-overlay {
	-fx-background-radius: 10 10 10 10;
	-fx-background-color:
	linear-gradient(to bottom, rgba(255,255,255,0.7) 0%, rgba(50,100,150,0.45) 50%);
	
}
    
.link-handle:hover {
    -fx-background-color: rgba(255, 255, 255, 0.35);
}

.right-link-handle:hover {
	-fx-background-radius: 0 0 0 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.top-link-handle:hover {
	-fx-background-radius: 0 0 0 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.bot-link-handle:hover {
	-fx-background-radius: 0 0 0 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.node-pbox {
    -fx-background-color: #99ccff;
}

.node-sbox {
    -fx-background-color: #ff6666;
}

.node-start {
    -fx-background-color: lightgrey;
}

.node-xor {
    -fx-background-color: #99ff99;
}

.node-end {
    -fx-background-color: lightgrey;
}

.node-subKey {
    -fx-background-color: lightgrey;
}

.node-brown {
    -fx-background-color: brown;
}

.node-yellow {
    -fx-background-color: yellow;
}

.node-purple {
    -fx-background-color: purple;
}

.node-pboxIcon {
    -fx-background-image: url("/resources/Icons/Pbox.png");
}

.node-sboxIcon {
    -fx-background-image: url("/resources/Icons/Sbox.png");
}

.node-startIcon {
    -fx-background-image: url("/resources/Icons/Start.png");
}

.node-xorIcon {
    -fx-background-image: url("/resources/Icons/Xor.png");
}

.node-endIcon {
    -fx-background-image: url("/resources/Icons/End.png");
}

.node-subKeyIcon {
    -fx-background-image: url("/resources/Icons/subKey.png");
}